# Dependencies
node_modules

# Expo local cache
.expo

# Build outputs
dist
build
android/app/build
ios/build

# Version control
.git
.gitignore
.github

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db

# IDE/editor configs (optional)
.vscode
.idea
*.swp
